* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #FFFFFF;
}

.layout {
    display: flex;
}

.sidebar {
    width: 240px;
    background: #F6F8F9;
    height: 100vh;
    padding: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #0E73F6;
}

.menu li.active{
    background-color: #d7edff;
    padding: 5px;
    color: #0E73F6;
}

.logo {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.logo h3 {
    font-size: 16px;
}

.logo p {
    font-size: 12px;
    color: #777;
}

.menu li {
    list-style: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu li:hover {
    background: #D7EDFF;
    color: #0E73F6;
}

.main {
    flex: 1;
}

.topbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.right {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user {
    position: relative;
    cursor: pointer;
}

.user::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 10px;
}

.user-infor {
    position: absolute;
    right: 0;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    display: none;
    border-radius: 18px;
}


.user-infor.show {
    display: block;
}

.user-box {
    width: 250px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#user-name {
    font-weight: bold;
    font-size: 20px;
}

.user-box button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: 700;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.actions button {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.search {
    margin-bottom: 15px;
    text-align: right;
}

.search input {
    width: 300px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* hiển thị rỗng */
.empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: #888;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius:0 0 8px 8px;
    font-size: 30px;
}

.actions select {
    padding-right: 59px;
}

.table {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    min-height: 300px;
}

.table-head,
.row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}

.table-head {
    background: #f9fafb;
    font-weight: bold;
}

.table-head div:first-child{
    display: flex;
    align-items: center;
    gap: 7px;
}

.row:hover {
    background: #f3f4f6;
}

.status {
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 12px;
}

.status.active {
    background: #dcfce7;
    color: #16a34a;
}

.status.stop {
    background: #fee2e2;
    color: #dc2626;
}

.actions-icon {
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.input-icon {
    width: 300px;
    padding: 10px 10px 10px 35px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;

    background-image: url("../assets/icons/Icons.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

}

.pagination {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.pagination button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

/* popup */
pop-up-overlay,
.modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    z-index: 1000;
}

.pop-up-overlay.show,
.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-box{
    background: white;
    padding: 24px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 20px;
}

.popup-input p {
    color: #344054;
    font-size: 14px;
    margin-bottom: 6px;
}

.popup-input input {
    width: 100%;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    padding: 12px 16px;
    margin-bottom: 24px;
}

.modal-box p {
    font-size: 14px;
    font-weight: bold;
    color: #344054;
    margin-bottom: 6px;
}

.popup-checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.check{
    border: 1px solid #D0D5DD;
    margin-right: 8px;
    color: #11151F;
    margin-bottom: 24px;
}

.popup-footer{
    display: flex;
    justify-content: flex-end;
    gap: 13px;
}

.popup-button-cancel{
    padding: 11px 20px;
    border-radius: 10px;
    font-size: 17px;
    color: #18181B;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E7;
}

.popup-button-add{
    padding: 11px 20px;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    background-color: #2563EB;
}

/* popup xóa */
.pop-up-overlay,
.modal-overlay-delete {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    z-index: 1000;
}

.pop-up-overlay.show,
.modal-overlay-delete.show {
    opacity: 1;
    visibility: visible;
}

.modal-box-delete{
    background: white;
    padding: 24px;
    border-radius: 10px;
    max-width: 500px;
    max-height: 270px;
    width: 100%;
}

.modal-box-delete h3{
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 18px;
    color: #101828;
}

.modal-box-delete p{
    font-size: 14px;
    color: #667085;
}

.divider-delete{
    width: 100%;
    height: 1px;
    background-color: #D0D5DD;
    margin-top: 24px;
    margin-bottom: 21px;
}

.popup-button-delete{
    padding: 11px 20px;
    border: 1px solid #E4E4E7;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    background-color: #D92D20;
}

/* toast */
#toastBox {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast {
    width: 450px;
    border-radius: 18px;
    background-color: #333e5a;
    padding: 16px;
    margin-bottom: 16px;
    color: #ffffff;
}

.toastHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.toast-left {
    display: flex;
    gap: 6px;
    align-items: center;
}

.toast-left p {
    font-size: 18px;
    font-weight: bold;
}

.toast-right button {
    border: none;
    background-color: #333e5a;
}

.toast-content p {
    font-size: 14px;
    margin-left: 32px;
}

.hidden {
    display: none;
}